[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
shub = "*"

[packages]
boto3 = "*"
scrapy = "*"
awscli = "*"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
